

@font-face {
    font-family: 'futura_md_btmedium';
    src: /*url('https://www.oslcarcadia.com/font/futura/futura_medium_bt-webfont.woff2') format('woff2'),
         url('https://www.oslcarcadia.com/font/futura/futura_medium_bt-webfont.woff') format('woff'),*/
         url('/font/futura_medium_bt.tff') format('tff'),
         url('./font/futura/futura_medium_bt-webfont.woff2') format('woff2'),
         url('./font/futura/futura_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: /*url('https://www.oslcarcadia.com/font/raleway/raleway-thin-webfont.woff2') format('woff2'),
         url('https://www.oslcarcadia.com/font/raleway/raleway-thin-webfont.woff') format('woff'),*/
         url('/font/raleway-thin-webfont.tff') format('tff'),
         url('./font/raleway/raleway-thin-webfont.woff2') format('woff2'),
         url('./font/raleway/raleway-thin-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

.App {
  text-align: center;
  font-family: futura_md_btmedium;
}

.App-logo {
  height: 50px;
}

.search-container {
  /*position: fixed;*/
  left: 10px;
  top: 25px;
}

.App-logo-container {
  position: fixed;
  right: 10px;
  top: 10px;
}


.loader-text{
  font-family: raleway;
  font-size: 18px;
}
.loader {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.App-header {
  background-color: #555;
  height: 80px;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 500;

  position: fixed;
  left: 0;
  top: 0;
}

.App-title {
  font-size: 1.5em;
  color: 'white';
  font-family: futura_md_btmedium;
  font-size: 28px;
}
.small-font {
  font-size: 1em;

  font-family: raleway;
}
.bulletin-text{
  font-size: 1.2em;

  font-family: raleway;

}
.App-intro {
  font-size: large;
}


.card-container{
  width: 50%;
  padding:1em;
}

.bg-gray {
  background-color: #828FA2 !important;
  height:100%;
  min-height: 100vh;
   }
.bg-proxy {
  background-color: #828FA2 !important;
  height:50em;
   }
.offset-top{
  padding-top:100px;
}
.bg-card {
  background-color: #EEE !important;
   }
.audio{
  /*background-color: #EEEEEE;*/
  /*border-radius: 300px;*/
  /*margin-left: 10vw;
  width: 40vw;*/
  /*align-self: center;*/
}

.card-image{
}

.example-component {
  width: 35vw;
  height:35vw;
  border-radius:1em;
  opacity: 1;

  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.example-component.show {
  width: 15em;
  height:15em;
  border-radius:1em;
  opacity: 1;

  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.bulletin{
  display: 'absolute';
  align: 'center';
  margin-left: -30px;
  width:95vw; 
  height:95vh;
}
.service-info-subtitle{
  font-family: raleway;
  font-size: 18px;
}
.sermon-card{
  visibility: visible;
  -webkit-transition: 1.0s;
  -moz-transition: 1.0s;
  -o-transition: 1.0s;
  transition: 1.0s;
}
.sermon-card-collapsed{
  visibility: visible;
  height: 100px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}