.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.loader {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.App-header {
  background-color: #555;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.small-font {
  font-size: .7em;
}

.App-intro {
  font-size: large;
}


.card-container{
  width: 50%;
  padding:1em;
}

.bg-gray {
  background-color: #828FA2 !important;
  height:100%;
   }
.bg-proxy {
  background-color: #828FA2 !important;
  height:50em;
   }
.bg-card {
  background-color: #EEE !important;
   }
.audio{
  background-color: #EEEEEE;
  border-radius: 300px;
  width: 100%;
}

.card-image{
}

.example-component {
  width: 45em;
  max-width: 90%;
  height:30em;
  max-height: 90%;
  border-radius:1em;
  opacity: 1;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.example-component.show {
  width: 15em;
  max-width: 30%;
  height:10em;
  max-height: 30%;
  border-radius:1em;
  opacity: 1;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}